/*리액트 애플리케이션 전체에 적용된 전역 스타일 정의*/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.inputset {
  margin-top: 50px;
  margin-bottom: 50px;
}

.input {
  color: beige;
  background-color: transparent;
}

.input::placeholder {
  color: #afa5a5;
}

.center {
  text-align: center;
}

.search input {
  background-color: transparent; 
  padding: 10px;
  margin-right: 15px;
}

.search button {
  border: none;
  font-weight: 600;
}